
:root{
    --primary-color: #e50910;
    --dark-color: #141414;
    --light-color: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: #999999;

}

.section{
    border-bottom: 8px solid rgb(40, 37, 37);
}
.root{
    background: linear-gradient(rgba(8, 8, 8, 0.884),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.703)) ,url("images/Background.jpeg") no-repeat center center/cover; 
   
}

/* header section */

/* navbar in header */
.navbar{
    height:10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 5%;
    padding-top: 1%;
}
.img-logo{
    width:14%;
}
.navbar-right{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.lang-selection {
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: 2px solid white;
    border-radius: 3px;
    margin-right:35px;
    width:130px;
}
.fa {
margin:5px -17px 0 5px;
z-index: 1;
}

#language{
    background-color: var(--dark-color);
    color: white;
    font-size: 15px;
    border: none;
    padding: 6px 20px;
    margin: 0 5px;
    width: fit-content;
    text-decoration: none;
    cursor: pointer;   
}
.sign-in-btn {
    background-color: var(--primary-color);
    color: white;
    font-size: 15px;
    border: none;
    padding: 8px 20px;
    width: fit-content;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

/* main content in header */
.main-container{
    position: relative;
    width:100%;
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;  
}

.titles-container {
    width:50%;
    text-align: center;
    color: white;
}

.titles-container h1{
    font-size: 65px;
    font-weight: 700;
    margin:0 auto;
    padding-bottom: 3%;
}
.titles-container h2{
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 3%;
}
.titles-container p{
    font-size: 20px;
    font-weight: 400;    
}
.email-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 40%;
    margin-top: 1%;
    border:none;
    text-decoration: none;
    cursor:pointer;
}
.email-container input{
    width:480px;
    height: 4rem;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 16px;
    padding-left: 1%;
    cursor:pointer;
}
.email-container button{
    height: 4.1rem;
    width:250px;
    left:20px;
    text-align:center;
    text-decoration: none;
    color:#ffffff;
    background-color: var(--primary-color);
    font-size: 30px;
    font-weight:300;
    padding: 15px 32px; 
    border:none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor:pointer;
}
.email-container button:hover{
    background-color:#f6131b;
}


/* main content */
section{
    display: block;
    padding:75px 45px;
}
 
.text-container{
    position: relative;
    padding:0 5%;
    width:100%;
    height: 100%;
    text-align:left;
}
.text-container h1{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 3%;
}
.text-container h3{
    font-size: 25px;
    font-weight: 300;
}


/* tv section */
.tv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: -3% 10%;
    color: white;
}
.tv .animation-container{
    display:flex;
    flex-direction: row; 
    position: relative;
    width:100%;
    height: 100%;
    
}
.tv .animation-container img{
    position:relative;
    max-width: 100%;
    height: auto;
    z-index: 1;
}
.tv .animation-container video{
    position:relative;
    width:78%;
    height:auto;
    right:88%;
    top:80%;
    z-index:0;
    padding-right: 8%;
}


/* mobile section */
.mobile{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: -5% 6%;
    color: white;
    margin-bottom: 5%;
}

.mobile .animation-container{
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: relative;
    width:100%;
    height: 100%;   
}

.mobile .animation-container img{
    position:relative;
    width: 100%;
    height: auto;
    margin-bottom: -25%;
    z-index: -1;
}
.animation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border:2px solid gray;
    border-radius:10px;
    background: #090909;
    width:60%;
    padding:3%;
    z-index:1;
}
.animation-text{
    display: block;
    margin-left:3%;
}
.animation-text h4{
    color: #ffffff;
    font-weight:600;
}
.animation-text h5{
    display: block;
    color: rgb(19, 19, 237);
    font-weight:700;
}

.mobile .animation-container .animation img{
    top:10%;
    width:50px;
    height: 70px;
}


/* monitor section */
.monitor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: -2% 9%;
    color: white;
}
.monitor .animation-container{
    display:flex;
    flex-direction: row; 
    position: relative;
    width:100%;
    height: 100%;
}
.monitor .animation-container img{
    position:relative;
    max-width: 100%;
    height: auto;
}
.monitor .animation-container video{
    position:relative;
    width:60%;
    height: 110%;
    /* if height is not specified,any height of image will be synced */
    right:80%;
    top:85%;
    padding-top: 8%;
    z-index:-1;
     /* if width,height,top,left,bottom,right zindex does not work,
        use padding*/
}


/* children section */
.children {
    display:flex;
    flex-direction: row-reverse; 
    justify-content: center;
    /* keep justify-content as centre for all section- helps in css responsive; */
    align-items: center;
    /* position: relative; */
    margin: 2% 18%;
    color: white;
   }
.chidren .animation-container{
    
    position: absolute;
    width:100%;
    height: 100%;
}
.children .animation-container img{
    position:relative;
    max-width: 100%;
    height: auto;
}

/* faq section */

.faq{
    text-align:center;
    color: #ffffff;
}
.faq h1{
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 4%;
}
.questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 40%;
    list-style: none;
}
.questions li{
    background-color: #333232;
   
    width:50%;
    text-align: left;
    padding: 1.5% 4%;
    margin:0.5%;
    font-size: 25px;
    cursor: pointer; 
   
}
.questions li a{
    text-decoration: none;
    color: #ffffff;
}
.q{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.faq p{
    padding-top: 3%;
    font-size: 20px;
    font-weight: 300;
}


.email-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 40%;
    margin-top: 2%;
    text-decoration: none;
}
.email-container input{
    width:480px;
    height: 4rem;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 16px;
    padding-left: 1%;
}
.email-container button{
    height: 4.1rem;
    width:250px;
    left:20px;
    text-align:center;
    color:#ffffff;
    background-color: var(--primary-color);
    font-size: 30px;
    font-weight:300;
    padding: 15px 32px;
    
    border:none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}



/* footer section */
footer{
    display: flex;
    flex-direction: column;
    padding:5% 18%;
    align-items: left;
    color:rgb(115, 105, 105);
    font-weight: 300;
}
.footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:3% 0; 
    
}
.footer li{
    font-size: 14px;
    list-style: none;
    line-height: 35px;
   
}
.footer a{
    text-decoration: none;
    color:rgb(115, 105, 105);
}
.footer a:hover{

text-decoration: underline;
}

.lang-selection-footer{
    display: flex;
    flex-direction: row;
    justify-content: left;
   
    border: 2px solid rgb(115, 105, 105);
    margin:5px 0 25px 3px;
    width:110px;
}


#language-footer{
    background-color: var(--dark-color);
    color: rgb(149, 142, 142);
    font-size: 15px;
    border:none;
    padding: 5px 0 5px 30px;
    text-decoration: none;
    cursor: pointer;   
}

/* media query for desktop and large screen */
@media screen and (min-width:1050px) and (max-width:1500px){
    .root{
        padding-bottom:5%;
    }
    
    .navbar{
    padding-top: 2%;
   }
   .main-container{
    margin-top:5%;
   }
   .main-container h1{
    font-size: 55px;
   }
   .mobile{
    margin: 0% 6%;
   }
   .chidren {
    margin: -2% 6%;
   }   
}

/* media query for laptop */
@media screen and (min-width:920px) and (max-width:1050px){
    .root{
        padding-bottom:5%;
    }
    .main-container{
        margin-top:8%;
    }
    .main-container h1{
        font-size: 48px;
    }
    .main-container p{
        font-size: 16px;
    }
    .tv, .mobile, .monitor, .children {
        margin: 0%;
    }
}

/* media query for tab */
@media screen and (min-width:450px) and (max-width:920px){ 
    main{
        margin-right: -14%;
    }
    .root{
        padding-bottom:20%;
    }
    .navbar{
        margin-right: 5%;
    }
    .main-container{
        margin-top:20%;
    }
    .main-container h1{
        font-size: 45px;
        font-weight:700;
    }
    .main-container h2{
        font-size: 25px;
        font-weight:300;
    }
    .email-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .email-container input{
        border-radius: 5px;
    }
    .email-container button{
        margin-top: 8%;
        width:140px;
        height: 40px;
        border-radius: 5px;
        font-size: 18px;
        padding: 1%;
    }
    .text-container{
        text-align: center;
    }
    .tv, .mobile, .monitor, .children {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tv h3{
        font-size: 20px;
    }
    .faq h1{
        font-size: 35px;
    }
}
/* 
@media screen and (min-width:300px) and (max-width:450px){ 
        .main{
            margin-right: -35%;
        }
        .root{
            padding-bottom:60%; 
        }
        .navbar{
            margin-right: 5%;
        }
        .main-container{
            margin-top:40%;
        }
}
    */

